<!-- Brand Logo Carousel Module -->
<!-- This is a modular carousel that can be swapped in place of the static grid -->
<div class="brand-carousel">
  <div class="brand-carousel-container">
    <div class="brand-carousel-track">
      <!-- First set of logos (will be duplicated for seamless loop) -->
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Eaton.svg"
          alt="Eaton logo"
          width="120"
          height="60"
          loading="eager"
          decoding="async"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Sandvik_Logo.svg"
          alt="Sandvik logo"
          width="120"
          height="60"
          loading="eager"
          decoding="async"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Liebherr-Logo.svg"
          alt="Liebherr logo"
          width="120"
          height="60"
          loading="eager"
          decoding="async"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Komatsu.svg"
          alt="Komatsu logo"
          width="120"
          height="60"
          loading="lazy"
          decoding="async"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Caterpillar_logo.svg"
          alt="Caterpillar logo"
          width="120"
          height="60"
          loading="lazy"
          decoding="async"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Bell_mining_construction.svg"
          alt="Bell logo"
          width="120"
          height="60"
          loading="lazy"
          decoding="async"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Volvo.svg"
          alt="Volvo logo"
          width="120"
          height="60"
          loading="lazy"
          decoding="async"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Hitachi.svg"
          alt="Hitachi logo"
          width="120"
          height="60"
          loading="lazy"
          decoding="async"
        />
      </div>
      <!-- Duplicate set for seamless infinite scroll -->
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Eaton.svg"
          alt="Eaton logo"
          width="120"
          height="60"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Sandvik_Logo.svg"
          alt="Sandvik logo"
          width="120"
          height="60"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Liebherr-Logo.svg"
          alt="Liebherr logo"
          width="120"
          height="60"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Komatsu.svg"
          alt="Komatsu logo"
          width="120"
          height="60"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Caterpillar_logo.svg"
          alt="Caterpillar logo"
          width="120"
          height="60"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Bell_mining_construction.svg"
          alt="Bell logo"
          width="120"
          height="60"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Volvo.svg"
          alt="Volvo logo"
          width="120"
          height="60"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </div>
      <div class="brand-carousel-item">
        <img
          src="https://sswebimages.mo.cloudinary.net/Hitachi.svg"
          alt="Hitachi logo"
          width="120"
          height="60"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </div>
    </div>
  </div>
</div>
