<footer id="footer" class="section footer">
    <div class="container">
        <div class="w-layout-grid footer-content">
            <img
                src="../images/inverse-Logo.svg"
                loading="lazy"
                width="169"
                id="w-node-_1f095eb7-1d94-a44c-448d-cbd0ba45b8dc-ba45b8da"
                alt="Seguro Hydraulics inverted footer logo"
                class="footer-logo"
            />
            <div
                id="w-node-_1f095eb7-1d94-a44c-448d-cbd0ba45b8f5-ba45b8da"
                class="footer-office"
            >
                <h3 class="footer-heading">office</h3>
                <address>
                    <a
                        href="mailto:contact@segurohydraulics.com?subject=Website%20enquiry"
                        class="footer-link"
                        >Email</a
                    >
                    <a href="tel:++27670096822" class="footer-link">Cell</a>
                </address>
                <div class="footer-text">Mon-Thur: 7.30am - 4.30pm</div>
                <div class="footer-text">Friday: 7.30am - 12.30pm</div>
            </div>
            <div
                id="w-node-_1f095eb7-1d94-a44c-448d-cbd0ba45b8dd-ba45b8da"
                class="footer-nav"
            >
                <h3 class="footer-heading">navigation</h3>
                <a href="../" aria-current="page" class="footer-link w--current"
                    >Home</a
                >
                <a href="../#our-work-list" class="footer-link">Our work</a>
                <a href="../#repair-process" class="footer-link"
                    >Repair process</a
                >
                <a href="../about" class="footer-link">About us</a>
                <a href="../contact" class="footer-link">Contact</a>
                <a href="../enquiry" class="footer-link">Enquiry</a>
            </div>
            <div
                id="w-node-_1f095eb7-1d94-a44c-448d-cbd0ba45b8ea-ba45b8da"
                class="footer-legal"
            >
                <h3 class="footer-heading">legal &amp; site map</h3>
                <a href="../disclaimer" class="footer-link">Disclaimer</a>
                <a
                    href="../documents/Sales-terms-&-conditions.pages.pdf"
                    title="Terms &amp; Conditions"
                    target="_blank"
                    rel="noopener noreferrer"
                    id="terms"
                    class="footer-link"
                    >Terms of sale</a
                >
                <a
                    rel="noopener nofollow"
                    href="../documents/Privacy-Policy.pdf"
                    title="Privacy policy"
                    target="_blank"
                    class="footer-link"
                    >Privacy policy</a
                >
                <a href="#" class="footer-link">Site map</a>
            </div>
        </div>
        <div class="w-layout-grid footer-copyright-social">
            <div class="copyright">
                <div>
                    © <span class="year">2021</span> Seguro Hydraulics <br />All
                    rights reserved.
                </div>
            </div>
            <div class="social">
                <div class="w-layout-grid social-grid">
                    <a
                        rel="noreferrer noopener"
                        href="https://www.linkedin.com/in/amy-abbot-acca-88b7457a/"
                        target="_blank"
                        class="social-icons w-inline-block"
                        ><img
                            src="../images/LI-In-Bug.png"
                            loading="lazy"
                            width="40"
                            height="40"
                            alt="LinkedIn social media icon"
                            class="icon"
                    /></a>
                    <a
                        rel="noreferrer noopener"
                        href="https://facebook.com"
                        target="_blank"
                        class="social-icons w-inline-block"
                        ><img
                            src="../images/f_logo_RGB-Blue_58.png"
                            loading="lazy"
                            width="65"
                            height="65"
                            alt="Facebook icon"
                            class="icon facebook"
                    /></a>
                </div>
            </div>
        </div>
        <div class="recognition">
            <div>
                <a
                    href="http://https:designdevelophost.co.uk"
                    rel="noreferrer noopener"
                    target="_blank"
                    >Website by <span class="text-span">Design</span>
                    <span class="dark-turq">Develop</span>
                    <span class="light-turq">Host</span></a
                >
            </div>
        </div>
    </div>
</footer>
<script>
    var thisYear = new Date().getFullYear();
    var yearEl = document.querySelector('.year');
    yearEl.textContent = thisYear;
    let img = document.getElementsByTagName('img');
    img.onContextMenu = 'return false';
</script>
