<footer id="footer" class="section footer">
  <div class="container">
    <div class="w-layout-grid footer-content">
      <img
        class="footer-logo"
        src="../images/SS-Logo-Inv.png"
        width="Auto"
        height="Auto"
        alt=""
        sizes="(max-width: 479px) 90vw, (max-width: 991px) 127.99715423583984px, (max-width: 1919px) 10vw, 100vw"
        id="w-node-_1f095eb7-1d94-a44c-448d-cbd0ba45b8dc-ba45b8da"
        loading="lazy"
        srcset="
          ../images/SS-Logo-Inv-p-500.png 500w,
          ../images/SS-Logo-Inv.png       991w
        "
      />
      <div
        id="w-node-_1f095eb7-1d94-a44c-448d-cbd0ba45b8f5-ba45b8da"
        class="footer-office"
      >
        <h3 class="footer-heading">office</h3>
        <address>
          <a
            href="mailto:tracy@ssteering.co.za?subject=Website%20enquiry"
            class="footer-link"
            >Email</a
          >
          <a href="tel:++27670096822" class="footer-link">Cell</a>
          <a
            href="https://goo.gl/maps/QxqKtTzCSymbqNAaA"
            target="_blank"
            rel="noopener noreferrer"
            class="footer-link"
            >Directions</a
          >
        </address>
        <div class="footer-text">Mon-Thur: 7.30am - 4.30pm</div>
        <div class="footer-text">Friday: 7.30am - 12.30pm</div>
      </div>
      <div
        id="w-node-_1f095eb7-1d94-a44c-448d-cbd0ba45b8dd-ba45b8da"
        class="footer-nav"
      >
        <h3 class="footer-heading">navigation</h3>
        <a href="../" aria-current="page" class="footer-link w--current"
          >Home</a
        >
        <a href="../#our-work-list" class="footer-link">Our work</a>
        <a href="../#repair-process" class="footer-link">Repair process</a>
        <a href="../about" class="footer-link">About us</a>
        <a href="../contact" class="footer-link">Repair/Contact request</a>
        <a href="../enquiry" class="footer-link">Component sourcing</a>
      </div>
      <div
        id="w-node-_1f095eb7-1d94-a44c-448d-cbd0ba45b8ea-ba45b8da"
        class="footer-legal"
      >
        <h3 class="footer-heading">legal &amp; site map</h3>
        <a href="../disclaimer" class="footer-link">Disclaimer</a>
        <a
          href="../terms-of-sale"
          title="Terms &amp; Conditions"
          id="terms"
          class="footer-link"
          >Terms of sale</a
        >
        <a
          rel="noopener noreferrer"
          href="../privacy-policy"
          title="Privacy policy"
          class="footer-link"
          >Privacy policy</a
        >
        <a
          rel="noopener noreferrer"
          href="../cookie-policy"
          title="Privacy policy"
          target="_blank"
          class="footer-link"
          >Cookie policy</a
        >
        <a
          rel="noreferrer noopener"
          href="../sitemap"
          target="_blank"
          class="footer-link"
          >Site map</a
        >
      </div>
    </div>
    <div class="w-layout-grid footer-copyright-social">
      <div class="copyright">
        <div>
          © <span class="year"></span> SPECIALISED STEERING CC <br />All rights
          reserved.
        </div>
      </div>
      <div class="social" id="social">
        <div class="w-layout-grid social-grid">
          <a
            rel="noreferrer noopener"
            href="https://www.facebook.com/specialisedsteering/"
            target="_blank"
            class="social-icons w-inline-block"
            ><img
              src="../images/f_logo_RGB-Blue_58.png"
              loading="lazy"
              width="65"
              height="65"
              alt="Facebook icon"
              class="icon facebook"
          /></a>
          <a
            rel="noreferrer noopener"
            href="https://www.instagram.com/specialised_steering/?igshid=YmMyMTA2M2Y="
            target="_blank"
            class="social-icons w-inline-block"
            ><img
              src="../images/Instagram_Glyph_Gradient_RGB.svg"
              loading="lazy"
              width="65"
              height="65"
              alt="instagram icon"
              class="icon"
          /></a>
          <a
            rel="noreferrer noopener"
            href="https://www.linkedin.com/in/devon-abbot-6989aa108/"
            target="_blank"
            class="social-icons w-inline-block"
            ><img
              src="../images/LI-In-Bug.png"
              loading="lazy"
              width="40"
              height="40"
              alt="LinkedIn social media icon"
              class="icon"
          /></a>
        </div>
      </div>
    </div>
    <div class="recognition">
      <div>
        <a
          href="https://designdevelophost.co.uk"
          rel="noreferrer noopener"
          target="_blank"
          >Website by <span class="text-span">Design</span>
          <span class="dark-turq">Develop</span>
          <span class="light-turq">Host</span></a
        >
      </div>
    </div>
  </div>
</footer>
<script>
  const year = new Date().getFullYear();
  const yearElement = document.querySelector(".year");
  if (yearElement) {
    yearElement.textContent = year;
  }
</script>
