<div class="container">
    <h1>We do Hydraulics Best</h1>
    <h2>your first choice for hydraulic Components</h2>
    <p class="paragraph">
        We pride ourselves in customer satisfaction and will do our utmost to
        ensure we get you back up and running with minimal down time.
    </p>
</div>
<div class="brand-camera">
    <div
        data-w-id="59ceed61-d72f-0ac5-25e0-69616648edf5"
        style="opacity: 0"
        class="w-layout-grid brands-logo-grid"
    >
        <img
            src="images/Cat.svg"
            loading="lazy"
            id="w-node-_018d7a1e-4664-a7f1-77c0-929d30235cfc-a97c437c"
            alt="Cat short Logo"
            class="brand-image"
        /><img
            src="images/Bosch-Rexroth.svg"
            loading="lazy"
            id="w-node-f3a5256b-8361-80e5-12d7-405c26b145ed-a97c437c"
            alt="Bosch Rexroth logo"
            class="brand-image"
        /><img
            src="images/Eaton.svg"
            loading="lazy"
            id="w-node-a6a38078-c812-cd3c-67a6-52ba1ed3549f-a97c437c"
            alt="Eaton Logo"
            class="brand-image"
        /><img
            src="images/Black-Bruin.svg"
            loading="lazy"
            id="w-node-_871b416b-3d35-7786-4b0e-8d6737d23a0c-a97c437c"
            alt="Black Bruin logo"
            class="brand-image"
        /><img
            src="images/Cummins.svg"
            loading="lazy"
            id="w-node-_321ef992-e96a-cde6-067e-d2d131b20023-a97c437c"
            alt="Cummins Logo"
            class="brand-image"
        /><img
            src="images/Voith.svg"
            loading="lazy"
            id="w-node-fd894e6e-8865-7dc9-d884-964d67f0a86c-a97c437c"
            alt="Voith Logo"
            class="brand-image btm"
        /><img
            src="images/Komatsu.svg"
            loading="lazy"
            id="w-node-_7349e8a6-d567-94c6-ac22-b0ba3d9f041d-a97c437c"
            alt="Komatsu Logo"
            class="brand-image btm"
        /><img
            src="images/Ross-Controls.svg"
            loading="lazy"
            id="w-node-_40152e96-032f-14c0-d0b1-9a2ab5131520-a97c437c"
            alt="Ross Controls logo"
            class="brand-image btm"
        /><img
            src="images/Volvo.svg"
            loading="lazy"
            id="w-node-_4e32e1f0-01f6-2e31-f19f-91e4e73051a5-a97c437c"
            alt="Volvo Logo"
            class="brand-image btm"
        /><img
            src="images/Hitachi.svg"
            loading="lazy"
            id="w-node-_824a1747-a5e7-7135-cc6e-5b72ca443c37-a97c437c"
            alt="Hitachi Logo"
            class="brand-image btm"
        />
    </div>
</div>
