<nav data-w-id="15c6fe86-0da0-6554-a202-c50b959f2b40" class="navbar">
  <a
    id="home"
    href="/"
    aria-current="page"
    class="navbar_logo w-inline-block w--current"
    ><img
      src="/images/specialised_steering_extended_logo.png"
      srcset="
        /images/specialised_steering_extended_logo@0.75x.png 0.75x,
        /images/specialised_steering_extended_logo.png       1x,
        /images/specialised_steering_extended_logo@3x.png    3x
      "
      width="224"
      height="90"
      loading="eager"
      fetchpriority="high"
      sizes="(max-width: 479px) 79vw, 14rem"
      style="width: 14rem; max-width: 14rem; height: auto"
      alt="Specialised Steering - Earth Moving Hydraulics"
      class="navbar_logo-img"
  /></a>
  <div class="navbar_menu">
    <a href="/" class="navbar_menu-link w-inline-block" style="background-color: #f9b101; color: #404040;">
      <div>home</div>
    </a>
    <a href="/gallery" class="navbar_menu-link w-inline-block" style="background-color: #f9b101; color: #404040;">
      <div class="text-block">gallery</div>
    </a>
    <a href="/admin/logout" class="navbar_menu-link w-inline-block" style="color: #f9b101;">
      <div>logout</div>
    </a>
  </div>
</nav>

