<nav data-w-id="15c6fe86-0da0-6554-a202-c50b959f2b40" class="navbar">
  <a
    id="home"
    href="../"
    aria-current="page"
    class="navbar_logo w-inline-block w--current"
    ><img
      src="../images/specialised_steering_extended_logo.png"
      srcset="
        ../images/specialised_steering_extended_logo@0.75x.png 0.75x,
        ../images/specialised_steering_extended_logo.png       1x,
        ../images/specialised_steering_extended_logo@3x.png    3x
      "
      width="224"
      height="90"
      loading="eager"
      fetchpriority="high"
      sizes="(max-width: 479px) 79vw, 14rem"
      style="width: 14rem; max-width: 14rem; height: auto"
      alt="Specialised Steering - Earth Moving Hydraulics"
      class="navbar_logo-img"
  /></a>
  <a
    href="#"
    class="navbar_menu-icon w-inline-block"
    role="navigation"
    aria-label="menu"
  >
    <div
      role="presentation"
      data-is-ix2-target="1"
      class="icon-animation"
      data-w-id="15c6fe86-0da0-6554-a202-c50b959f2b44"
      data-animation-type="lottie"
      data-src="../documents/menu-icon-animation.json"
      data-loop="0"
      data-direction="1"
      data-autoplay="0"
      data-renderer="svg"
      data-default-duration="4.5"
      data-duration="0"
    ></div>
  </a>
  <div class="navbar_menu">
    <a href="../" class="navbar_menu-link w-inline-block">
      <div>home</div>
    </a>
    <a href="../about" class="navbar_menu-link w-inline-block">
      <div>about</div>
    </a>
    <a href="../enquiry" class="navbar_menu-link w-inline-block">
      <div>components enquiry</div>
    </a>
    <a href="../gallery" class="navbar_menu-link w-inline-block">
      <div class="text-block">gallery</div>
    </a>
    <a href="../contact" class="navbar_menu-link contact w-inline-block">
      <div class="text-block">contact</div>
    </a>
  </div>
</nav>
