<nav data-w-id="15c6fe86-0da0-6554-a202-c50b959f2b40" class="navbar">
    <a id="home" href="../" class="navbar_logo w-inline-block"
        ><img
            src="../images/Logo.svg"
            loading="eager"
            alt="Seguro Hydraulics Logo"
            class="navbar_logo-img"
    /></a>
    <a href="#" class="navbar_menu-icon w-inline-block">
        <div
            data-w-id="15c6fe86-0da0-6554-a202-c50b959f2b44"
            data-animation-type="lottie"
            data-src="../documents/menu-icon-animation.json"
            data-loop="0"
            data-direction="1"
            data-autoplay="0"
            data-is-ix2-target="1"
            data-renderer="svg"
            data-default-duration="4.5"
            data-duration="0"
            class="icon-animation"
        ></div>
    </a>
    <div class="navbar_menu">
        <a href="../#our-work-list" class="navbar_menu-link w-inline-block">
            <div>Our Work</div>
        </a>
        <a href="../enquiry" class="navbar_menu-link w-inline-block">
            <div>parts enquiry</div>
        </a>
        <a href="../about" class="navbar_menu-link w-inline-block">
            <div>about</div>
        </a>
        <a href="../contact" class="navbar_menu-link contact w-inline-block">
            <div>contact</div>
        </a>
    </div>
</nav>
