<!-- Range Carousel - Component Types (Bottom) -->
<div class="range-carousel range-carousel-components">
  <div class="range-carousel-container">
    <div class="range-carousel-track">
      <!-- First set of component items (will be duplicated for seamless loop) -->
      <span class="range-carousel-item">Travel Motors</span>
      <span class="range-carousel-item">Geroler Motors</span>
      <span class="range-carousel-item">Gerotar Motors</span>
      <span class="range-carousel-item">Piston Motors</span>
      <span class="range-carousel-item">Gear Pumps</span>
      <span class="range-carousel-item">Piston Pumps</span>
      <span class="range-carousel-item">Fuel Pumps</span>
      <span class="range-carousel-item">Shut-Off Valves</span>
      <span class="range-carousel-item">Diesel Injectors</span>
      <span class="range-carousel-item">Steering Orbitrols</span>
      <!-- Duplicate set for seamless infinite scroll -->
      <span class="range-carousel-item">Travel Motors</span>
      <span class="range-carousel-item">Geroler Motors</span>
      <span class="range-carousel-item">Gerotar Motors</span>
      <span class="range-carousel-item">Piston Motors</span>
      <span class="range-carousel-item">Gear Pumps</span>
      <span class="range-carousel-item">Piston Pumps</span>
      <span class="range-carousel-item">Fuel Pumps</span>
      <span class="range-carousel-item">Shut-Off Valves</span>
      <span class="range-carousel-item">Diesel Injectors</span>
      <span class="range-carousel-item">Steering Orbitrols</span>
    </div>
  </div>
</div>
