<!DOCTYPE html>
<!--  Last Updated: 02 Aug 2022  -->
<html lang="en" data-wf-page="61488de93cfdf67ea9ac7d9c">
  <head>
    <title>Error</title>
    <%- include('includes/head') %>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link href="https://www.specialisedsteering.com/500" rel="canonical" />
  </head>
  <body>
    <div class="html-embed w-embed">
      <style>
        .frosted-glass {
          -webkit-backdrop-filter: saturate(200%) blur(30px) brightness(100%);
          backdrop-filter: saturate(200%) blur(30px) brightness(100%);
        }
      </style>
    </div>
    <div class="utility-container">
      <div class="_404-interaction">
        <img
          src="../images/animation-logo_320_min.gif"
          loading="lazy"
          alt="logo gif"
          class="gif"
        /><img
          src="../images/animation-logo_320_min.gif"
          loading="lazy"
          alt="logo gif"
          class="gif glow"
        />
      </div>
      <div class="utility-content w-form">
        <h1 class="utility-heading">Error</h1>
        <div class="frosted-glass">
          <div class="_404">500</div>
          <div class="_404-details">
            <div>
              Oh no! Something went wrong! We are working to fix this as soon as
              possible!
            </div>
            <div class="hr"></div>
            <a href="../" class="utility-button w-button">Back to Home</a>
            <a
              href="mailto:admin@ssteering.co.za?subject=Website%20Server%20Error"
              class="footer-link"
              >If the problem persists, please click HERE email us!</a
            >
          </div>
        </div>
      </div>
    </div>
    <%- include('includes/blockjs.ejs') %>
  </body>
</html>
