<!DOCTYPE html>
<!--  Last updated: 22 July 2022 -->
<html lang="en" data-wf-page="619b5986b939f912f7e2b76e">
  >
  <head>
    <title>Success</title>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/nav') %>
    <section class="section">
      <div class="container">
        <h1>Success</h1>
        <p>
          Thank you, we have received your form submission and will respond
          soon.
        </p>
      </div>
    </section>
    <%- include('includes/footer') %> <%- include('includes/blockjs') %>
  </body>
</html>
