<!DOCTYPE html>
<!--  Last updated: Wed Nov 24 2021 -->
<html lang="en" site-id="60b27efeb5434b7ea97c437c">
    >
    <head>
        <title>Success</title>
        <%- include('includes/head') %>
    </head>
    <body>
        <%- include('includes/nav') %>
        <section class="section">
            <div class="container">
                <h1>Success</h1>
                <p>
                    Thank you, we have received your form submission and will
                    respond soon.
                </p>
            </div>
        </section>
        <%- include('includes/footer') %> <%- include('includes/blockjs') %>
    </body>
</html>
