<!DOCTYPE html>
<!--  Last Updated: Dec 29 2021  -->
<html lang="en" site-id="6194b903204ba445433b1c81">
    <head>
        <meta charset="utf-8" />
        <title>Disclaimer</title>

        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta
            content="bfO_FRcQ04OZEPhoVFm6wUdNvjTp9zoDELpqD379NvM"
            name="google-site-verification"
        />

        <%- include('includes/head') %>
        <link href="https://segurohydraulics.com/disclaimer" rel="canonical" />
    </head>
    <body>
        <%- include('includes/nav') %>
        <div class="section">
            <div class="container">
                <h1>Disclaimer</h1>
                <p>
                    All manufacturer&#x27;s names, numbers, symbols and
                    descriptions are for reference only. It is not implied that
                    any part is the product of the manufacturer
                </p>
                <p>
                    Caterpillar® and Cat® are registered trademarks of
                    Caterpillar, Inc.
                </p>
                <p>
                    Cummins® is a registered trademark of Cummins Engine Co Ltd.
                </p>
                <p>Komatsu® is a registered trademark of Komatsu Ltd.</p>
                <p>Rexroth® is a registered trademark of Bosch Rexroth.</p>
                <p>Black Bruin® is a registered trademark of OY PARTEK AB.</p>
                <p>Voith® is a registered trademark of Voith GmbH &amp; Co.</p>
                <p>HITACHI® is a registered trademark of Hitachi, Ltd.</p>
                <p>
                    Volvo® is a registered trademark of VOLVO TRADEMARK HOLDING
                    AB.
                </p>
                <p>
                    Eaton® is a registered trademark of Eaton Corporation plc.
                </p>
                <p>Ross Hydraguide® is a registered trademark of QCC, LLC.</p>
                <p>Seguro is not an authorised dealer for the above brands.</p>
                <p>
                    All parts are supplied subject to Seguro Ltd terms and
                    conditions.
                </p>
                <p>
                    To view our terms please click
                    <strong>
                        <a
                            href="../documents/Sales-terms-conditions.pdf"
                            title="Terms &amp; Conditions"
                            target="_blank"
                            rel="noopener noreferrer"
                            id="terms"
                            class="footer-link"
                            >HERE</a
                        >
                    </strong>
                </p>
            </div>
        </div>
        <%- include('includes/footer') %> <%- include('includes/blockjs') %>
    </body>
</html>
