<!DOCTYPE html>
<!--  Last Updated: 18 July 2022  -->
<html lang="en" data-wf-page="6194b903204ba445433b1c81">
  <head>
    <meta charset="utf-8" />
    <title>Disclaimer</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta
      content="yaK1iJom9Oy429CSfJAVFV8Z1Vz1axsXpKCVnVdCILY"
      name="google-site-verification"
    />
    <%- include('includes/head') %>
    <link href="https://specialisedsteering.com/disclaimer" rel="canonical" />
  </head>
  <body>
    <%- include('includes/nav') %>
    <div class="section">
      <div class="container">
        <h1>Disclaimer</h1>
        <p>
          The information provided by Specialised Steering CC in this website is
          for general information purposes only. While we endeavour to keep the
          information up to date and correct, we make no representations or
          warranties of any kind, express or implied, about the completeness,
          accuracy, reliability, suitability or availability with respect to the
          website or the information, products, services, or related graphics
          contained on the website for any purpose. Any reliance on such
          information is therefore strictly at your own risk.
        </p>
        <p>
          In no event will we be liable for any loss or damage including without
          limitation, indirect or consequential loss or damage, or any loss or
          damage whatsoever arising from loss of data or profits arising out of,
          or in connection with, the use of this website.
        </p>
        <p>
          Through this website, you are able to link to other websites which are
          not under the control of Specialised Steering CC. We have no control
          over the nature, content and availability of those sites. The
          inclusion of any links does not necessarily imply a recommendation or
          endorse the views expressed within them.
        </p>
        <p>
          Every effort is made to keep the website up and running smoothly.
          However, Specialised Steering CC takes no responsibility for, and will
          not be liable for, the website being temporarily unavailable due to
          technical issues beyond our control.
        </p>
        <p>
          All graphics displayed are for the purpose of providing a
          non-exhaustive representation of the work and products we are able to
          offer repairs and sourcing services for and do not explicitly imply
          that Specialised Steering CC is an authorised dealer of the brands.
        </p>
        <p>
          All manufacturer's names, numbers, symbols and descriptions are for
          reference only. It is not implied that any part is the product of the
          manufacturer.
        </p>
        <p>
          Caterpillar® and Cat® are registered trademarks of Caterpillar, Inc.
        </p>
        <p>Cummins® is a registered trademark of Cummins Engine Co Ltd.</p>
        <p>Komatsu® is a registered trademark of Komatsu Ltd.</p>
        <p>Rexroth® is a registered trademark of Bosch Rexroth.</p>
        <p>Black Bruin® is a registered trademark of OY PARTEK AB.</p>
        <p>Voith® is a registered trademark of Voith GmbH &amp; Co.</p>
        <p>HITACHI® is a registered trademark of Hitachi, Ltd.</p>
        <p>Volvo® is a registered trademark of VOLVO TRADEMARK HOLDING AB.</p>
        <p>Eaton® is a registered trademark of Eaton Corporation plc.</p>
        <p>Ross Hydraguide® is a registered trademark of QCC, LLC.</p>
        <p>
          All parts are supplied subject to Specialised Steering CC terms and
          conditions.
        </p>
        <p>
          <a
            href="https://drive.google.com/file/d/1To7x2wHN72rgdwsVRDdmZy0KGwAeTJzC/view?usp=sharing"
            title="Terms &amp; Conditions"
            target="_blank"
            rel="noopener noreferrer"
            id="terms"
            class="footer-link"
            ><strong>View our Terms and Conditions Policy here.</strong></a
          >
        </p>
      </div>
    </div>
    <%- include('includes/footer') %> <%- include('includes/blockjs') %>
  </body>
</html>
