<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <%- include('includes/head') %>
  </head>
  <body>
    <main>
      <section class="section">
        <div class="container">
          <div id="sm-header">

              <h1>SPECIALISEDSTEERING.COM HTML Site Map</h1>

            <h2>
              <span style="float: right"
                >Last Updated 02 August 2022 <br />Total pages: 10</span
              >
              <a href="https://specialisedsteering.com/">Homepage</a>
            </h2>
            <div id="sm-content">
              <nav>
                <ul>
                  <li>https://</li>
                  <ul>
                    <li ><strong></strong>
                      <a href="https://specialisedsteering.com"
                        >specialisedsteering.com/</a
                      ></strong>
                      <span style="padding: 0 1rem">4 pages</span>
                    </li>
                    <h2>Content pages Level 1 Navigation</h2>
                    <ul>
                      <li>
                        Specialised Steering Home |
                        <strong>
                        <a
                          href="https://specialisedsteering.com/"
                          title="SPECIALISED STEERING: Germiston, Gauteng, ZA - Service Worldwide"
                          >SPECIALISED STEERING: Germiston, Gauteng, ZA -
                          Service Worldwide</a
                        ></strong>
                      </li>
                      <li>
                        Read About Specialised Steering's Story |
                        <strong>
                        <a
                          href="https://specialisedsteering.com/about"
                          title="Hydraulic Repairs to OEM Specification and Component Sourcing Service - Germiston, Gauteng"
                          >Hydraulic Repairs to OEM Specification and
                          Component Sourcing Service - Germiston, Gauteng</a
                        ></strong>
                      </li>
                      <li>
                        Send A Component Sourcing Enquiry |
                        <strong>
                        <a
                          href="https://specialisedsteering.com/enquiry"
                          title="HYDRAULIC COMPONENTS FOR MINING AND AGRICULTURAL MACHINERY AND TRUCKS"
                          >HYDRAULIC COMPONENTS FOR MINING AND AGRICULTURAL
                          MACHINERY AND TRUCKS</a
                        ></strong>
                      </li>
                      <li>
                        Contact Specialised Steering About Repairs & Other Queries |
                        <strong>
                        <a
                          href="https://specialisedsteering.com/contact"
                          title="CONTACT US FOR ALL YOUR HYDRAULIC REPAIRS AND PART SERVICE EXCHANGE"
                          >CONTACT US FOR ALL YOUR HYDRAULIC REPAIRS AND PART
                          SERVICE EXCHANGE</a
                        ></strong>
                      </li>
                      <h2>Dynamically generated Content Pages Level 2 Navigation</h2>
                      <ul>
                        <li>
                          our-work/ <span style="padding: 0 1rem">6 pages</span>
                        </li>
                        <li>
                          <strong>
                            <a
                            href="https://specialisedsteering.com/our-work/rec9KRuz84BbU8HY8"
                            title="Catastrophic failure | Hyundai 140W-7 Main Hydraulic Pump"
                            >Catastrophic failure | Hyundai 140W-7 Main
                            Hydraulic Pump</a>
                          </strong>
                        </li>
                        <li>
                          <strong>
                            <a
                            href="https://specialisedsteering.com/our-work/rec9bB675QCY5UQx1"
                            title="Charge pump excessively worn | Hitachi ZX270 Main Hydraulic Pump"
                            >Charge pump excessively worn | Hitachi ZX270
                            Main Hydraulic Pump</a>
                          </strong>
                        </li>
                        <li>
                          <strong>
                            <a
                            href="https://specialisedsteering.com/our-work/recDeAskPDsdpPV2Y"
                            title="Contamination caused failure | LPV90 + LPV30 D375-6 Fan Pumps"
                            >Contamination caused failure | LPV90 + LPV30
                            D375-6 Fan Pumps</a>
                          </strong>
                        </li>
                        <li>
                          <strong>
                            <a
                            href="https://specialisedsteering.com/our-work/recrwLaZg2GUibGp5"
                            title="Pump rebuild | CAT 325 Main Hydraulic Pump"
                            >Pump rebuild | CAT 325 Main Hydraulic Pump</a>
                          </strong>
                        </li>
                        <li>
                          <strong>
                            <a
                            href="https://specialisedsteering.com/our-work/recdYYxUvYdNFRKRt"
                            title="Service repair | HD785 Brake Calipers"
                            >Service repair | HD785 Brake Calipers</a>
                          </strong>
                        </li>
                        <li>
                          <strong><a
                            href="https://specialisedsteering.com/our-work/recDr0TnXseOVVLwp"
                            title="Valve failure | Komastu D475-5 Main Valve"
                            >Valve failure | Komastu D475-5 Main Valve</a>
                          </strong>
                        </li>
                      </ul>
                    </ul>
                    <h2>Legal Information Footer Navigation</h2>
                    <ul>
                      <li>
                        <a href="https://drive.google.com/file/d/1To7x2wHN72rgdwsVRDdmZy0KGwAeTJzC/view?usp=sharing"><strong>Specialised Steering CC Terms & Conditions</strong></a>
                      </li>
                      <li>
                        <a href="https://drive.google.com/file/d/1CuwGmbcaMlDpLbovL-IHfzCdPcAvd9WG/view?usp=sharing"><strong>Specialised Steering CC Privacy Policy</strong></a>
                      </li>
                      <li>
                        <a href="https://specialisedsteering.com/disclaimer"><strong>Specialised Steering CC Disclaimer</strong></a>
                      </li>
                      <li>
                        <a href="https://specialisedsteering.com/cookie-policy"><strong>Specialised Steering CC Cookie Policy</strong></a>
                      </li>
                    </ul>
                  </ul>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
